


.btn{
  font-family: arial ;
  font-size: 15px;
  color: white;
  background-color: transparent;
  border-radius: 20px 20px 20px 20px ;
  height: 40px;
  width: 85px;
  transition-duration: 0.5s;
border:none;


}
.btn:hover{

opacity: .5;
height: 42px;
  width: 85px;
color:white	;
opacity: 0.5;
  box-shadow:
                1px 1px grey,
                3px 1px grey,
                1px 2px grey;


        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
 
}
.wat{
	height: 35px;  
width:35px;
transition-duration: 0.5s;

}

.wat:hover{
	height: 45px;  
width:45px;
transition-duration: 0.5s;

}
.gmail{


height: 40px;  
width:50px; 
   transition-duration: 0.5s;

}
.gmail:hover{
	height: 60px;  
width:60px;
transition-duration: 0.5s;

}

.wats{


height: 45px;  
width:45px; 
   transition-duration: 0.5s;

}
.wats:hover{
	height: 55px;  
width:55px;
transition-duration: 0.5s;


}
